.btn-primary{
  font-weight: bold;
  background-color: $color-btn;
  border-color: $color-btn;

  @include mobile {
    width: 100%;
  }
}

.btn-primary:hover{
  background-color: $color-primary;
  border-color: $color-primary;
}